h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
}
body {
  background-color: cadetblue;
}
#container-1 {
  width: 100%;
  height: fit-content;
  padding: 0px 380px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* div:nth-of-type(odd) {
  background-color: greenyellow;
  height: 70px;
  width: 80px;
}
div:nth-of-type(even) {
  background-color: white;
  height: 70px;
  width: 80px;
} */
.white {
  background-color: white;
  height: 60px;
  width: 70px;
}
.green {
  background-color: greenyellow;
  height: 60px;
  width: 70px;
}